{% extends 'base.html' %}

{% block page_content %}

        <div class="page-header--agency" data-padding data-bg="template" style="background-image:url('./assets/img/splash2.jpg'); background-size: cover;">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-12 col-md-6 col-xl-10">
                        <div class="sectiontitle-element--light">
                            <h1 class="big">Our Approach</h1>
                            <p class="lg">Our approach is best summarized in these 6 steps:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Page Header  -->

        <!--  Page Content  -->
        <div class="page-content approach">
            <!--  Approach Diagram Left  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row col-12 col-md-6">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color1">
                                        <img src="assets/img/IdentifyingProblems.svg">
                                    </div>
                                    <div class="text color1">
                                        <h5>Sourcing and Identifying Problems </h5>
                                        <ul>
                                            <li>Establish and build relationships with community-based organizations and Business Improvement Districts (BIDs)</li>
                                            <li>Workshop identified issues with our ecosystem partners to ensure a participatory project creation process</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Left  -->
            <!--  Approach Diagram Right  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row align-items-lg-center">
                        <div data-aos="zoom-in" data-aos-delay="300" class="col-12 col-lg-6 col-xl-5">
                            <div class="square-element">
                                <div class="info">
                                    
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade" class="col-12 col-lg-6 offset-xl-1">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color2">
                                        <img src="assets/img/Team-Formation.svg">
                                    </div>
                                    <div class="text color2">
                                        <h5>Team Formation</h5>
                                        <ul>
                                            <li>Bring in partners who could offer relevant project resources by leveraging the Grid's ecosystem of 130+ organizations in urban tech</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Right  -->
            <!--  Approach Diagram Left  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row col-12 col-md-6">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color3">
                                        <img src="assets/img/DataCollection.svg">
                                    </div>
                                    <div class="text color3">
                                        <h5>Data Collection and Analysis </h5>
                                        <ul>
                                            <li>Leverage the Response Lab's consortium of academic partners and data scientists to source existing relevant data</li>
                                            <li>Partner with neighborhood associations to build a database of community-level insights informing community solution development</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Left  -->
            <!--  Approach Diagram Right  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row align-items-lg-center">
                        <div data-aos="zoom-in" data-aos-delay="300" class="col-12 col-lg-6 col-xl-5">
                            <div class="square-element">
                                <div class="info">
                                    
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade" class="col-12 col-lg-6 offset-xl-1">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color4">
                                        <img src="assets/img/SolutionBuilding.svg">
                                    </div>
                                    <div class="text color4">
                                        <h5>Solution Building</h5>
                                        <ul>
                                            <li>Develop  user-friendly tools and platforms that directly address specific community needs</li>
                                            <li>Build iterative solutions from ongoing community research, feedback, and data insights with the goal of creating tools that are both targeted to specific organization needs and scalable to wider communities</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Right  -->
            <!--  Approach Diagram Left  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row col-12 col-md-6">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color5">
                                        <img src="assets/img/SolutionDeployment.svg">
                                    </div>
                                    <div class="text color5">
                                        <h5>Solution Deployment</h5>
                                        <ul>
                                            <li>Implement solutions with hands-on training and understanding of how solutions interact with existing processes </li>
                                            <li>Monitor defined performance metrics and direct community feedback to  identify opportunities for continued solution improvements  </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Left  -->
            <!--  Approach Diagram Right  -->
            <section data-bg="primary">
                <div class="container">
                    <div class="row align-items-lg-center">
                        <div data-aos="zoom-in" data-aos-delay="300" class="col-12 col-lg-6 col-xl-5">
                            <div class="square-element">
                                <div class="info">
                                    
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade" class="col-12 col-lg-6 offset-xl-1">
                        <!-- Approach Block -->
                        <div data-aos="fade-up" data-aos-delay="300" class="col-12 col-md-12">
                            <div class="icon-element--round--colorone">
                                <div class="info">
                                    <div class="approach-icon color6">
                                        <img src="assets/img/SolutionScaling.svg">
                                    </div>
                                    <div class="text color6">
                                        <h5>Solution Scaling</h5>
                                        <ul>
                                            <li>Scale solutions to other neighborhoods in New York that would be ripe for implementation</li>
                                            <li>Hold knowledge sharing events such as roundtables to garner potential opportunities to scale to other cities in the US</li>
                                            <li>Adapt solutions as necessary to assimilate into other neighborhoods' unique contexts and needs</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Approach Diagram Right  -->
        </div>
        <!--  END Page Content  -->
{% endblock %}