{% extends 'base.html' %}


{% block page_content %}
        <!--  Page Header  -->
        <!--  class: image, round, hfixedlg, hfixedmd, hfixedsm  -->
        <div class="page-header--agency" data-padding data-bg="template" style="background-image:url('./assets/img/splash.jpg');">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="sectiontitle-element--light">
                            <h1 class="big">The NYC Response Lab</h1>
                            <p class="lg">is a hub for collaborative community solution creation and deployment in <strong>response</strong> to COVID-19. Built by New Yorkers for New Yorkers.</p>
                            <a href="mailto:nyc-response-lab@googlegroups.com" target="_blank" class="btn--big--icon--light--primary--shadow--round">Contact Us<i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Page Header  -->
            <!--  Partners  -->
            <section data-aos="fade" data-padding>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sectiontitle-element">
                                <h2>Our Partners</h2>
                            </div>

                            {% set partners = [ 
                                                {'name': 'Columbia', 'logo': 'columbia-ds.jpg', 'url': 'https://www.datascience.columbia.edu/'},
                                                {'name': 'NYU Tandon', 'logo': 'NYU.png', 'url': 'https://engineering.nyu.edu/'},
                                                {'name': 'Queens Public Library', 'logo': 'queens.png', 'url': 'https://www.queenslibrary.org/'},
                                                {'name': 'New York Academy of Sciences', 'logo': 'NY-science.gif', 'url': 'https://www.nyas.org/'},
                                                {'name': 'Redhook Initiative', 'logo': 'redhook.jpg', 'url': 'https://rhicenter.org/'},
                                                {'name': 'Lowes\'s Innovation Lab', 'logo': 'lowes.png', 'url': 'https://www.lowesinnovationlabs.com/'},
                                                {'name': 'NYC EDC', 'logo': 'NYC-EDC.png', 'url': 'https://edc.nyc/'},
                                                {'name': 'District 38 - Carlos Menchaca', 'logo': 'council38.png', 'url': 'https://council.nyc.gov/district-38/'},
                                                {'name': 'NYC DOT', 'logo': 'NYC-DOT.png', 'url': 'http://nyc.gov/dot'},
                                                {'name': 'Town+Gown', 'logo': 'NYC-town.png', 'url': 'https://www1.nyc.gov/site/ddc/about/town-gown.page'},
                                                {'name': 'Public Sentiment', 'logo': 'public-sentiment.png', 'url': 'https://www.publicsentiment.org/'},
                                                {'name': 'AirTable', 'logo': 'airtable.png', 'url': 'https://airtable.com/'},
                                                {'name': 'The Grid', 'logo': 'the-grid.png', 'url': 'https://urbantechnyc.com/'},
                                                {'name': 'Company', 'logo': 'company.png', 'url': 'https://company.co/'},
                                                {'name': 'ConEd', 'logo': 'coned.gid', 'url': 'https://www.coned.com/'} ] 
                            %}

                            <div class="logo-element">
                                <ul>
                                    {% for partner in partners %}
                                    <li>
                                        <a target="_blank" href="{{partner.url}}"><img data-unveil src="#" data-src="assets/img/partners/{{partner.logo}}" alt="{{partner.name}}"></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Partners  -->
        </div>
        <!--  END Page Content  -->
{% endblock %}