{% extends 'base.html' %}


{% block page_content %}

        <div class="page-header--agency" data-padding data-bg="template" style="background-image:url('./assets/img/splash.jpg'); background-size: cover;">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-12 col-md-6 col-xl-10">
                        <div class="sectiontitle-element--light">
                            <h1 class="big">Resources</h1>
                            <p class="lg">Desciption text goes here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Page Header  -->
        <!--  Page Content  -->
        <div class="page-content resources">
            <!--  Text  -->
            <section data-padding>
                <div class="container">
                    <!-- Content Block -->
                    <div data-aos="fade-up" class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="sectiontitle-element--full">
                                <h2>Re-opening Strategies</h2>
                                <p>Etiam sed dui sed nisi cursus scelerisque in et neque. Sed tristique risus nec libero dignissim pulvinar. Integer consectetur ipsum in erat pulvinar, sit amet vehicula leo pharetra. Mauris molestie odio eget enim elementum eleifend. Vestibulum ac vestibulum velit. Etiam congue enim quis porttitor congue. Quisque nisl ligula, interdum et tincidunt eget, molestie vel mauris. Ut tristique auctor justo quis porttitor. Nam id eros sit amet enim dignissim feugiat nec ac sem. Maecenas at urna volutpat, tempus mi vitae, elementum ipsum. Nulla maximus ex molestie condimentum volutpat.</p>
                            </div>
                            <h3 class="margin" data-padding="smtop">This is a subheading</h3>
                            <p>Suspendisse et ullamcorper ex, at commodo mi. Suspendisse pharetra congue lorem, quis tempus diam lobortis sit amet. Pellentesque porta a sapien et placerat. Suspendisse consequat, nunc ac hendrerit suscipit, erat sem mollis quam, in porttitor quam augue vitae orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce bibendum, lectus nec consectetur commodo, dolor erat rutrum massa, vitae finibus sem nisi vel ligula. Sed nec pulvinar odio. Maecenas rhoncus vestibulum ligula nec cursus. In a tortor lorem. Sed enim justo, convallis ut tristique in, porta at nibh.</p>
                            <div class="list-element">
                                <ul>
                                    <li>Checklist item</li>
                                    <li>Checklist item</li>
                                    <li>Checklist item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Text  -->
            <!--  Text  -->
            <section data-padding>
                <div class="container">
                    <!-- Content Block -->
                    <div data-aos="fade-up" class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="sectiontitle-element--full">
                                <h2>Contact Tracing</h2>
                                <p>Etiam sed dui sed nisi cursus scelerisque in et neque. Sed tristique risus nec libero dignissim pulvinar. Integer consectetur ipsum in erat pulvinar, sit amet vehicula leo pharetra. Mauris molestie odio eget enim elementum eleifend. Vestibulum ac vestibulum velit. Etiam congue enim quis porttitor congue. Quisque nisl ligula, interdum et tincidunt eget, molestie vel mauris. Ut tristique auctor justo quis porttitor. Nam id eros sit amet enim dignissim feugiat nec ac sem. Maecenas at urna volutpat, tempus mi vitae, elementum ipsum. Nulla maximus ex molestie condimentum volutpat.</p>
                            </div>
                            <h3 class="margin" data-padding="smtop">This is a subheading</h3>
                            <p>Suspendisse et ullamcorper ex, at commodo mi. Suspendisse pharetra congue lorem, quis tempus diam lobortis sit amet. Pellentesque porta a sapien et placerat. Suspendisse consequat, nunc ac hendrerit suscipit, erat sem mollis quam, in porttitor quam augue vitae orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce bibendum, lectus nec consectetur commodo, dolor erat rutrum massa, vitae finibus sem nisi vel ligula. Sed nec pulvinar odio. Maecenas rhoncus vestibulum ligula nec cursus. In a tortor lorem. Sed enim justo, convallis ut tristique in, porta at nibh.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Text  -->
            <!--  Text  -->
            <section data-padding>
                <div class="container">
                    <!-- Content Block -->
                    <div data-aos="fade-up" class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="sectiontitle-element--full">
                                <h2>Financial Aid</h2>
                                <p>Etiam sed dui sed nisi cursus scelerisque in et neque. Sed tristique risus nec libero dignissim pulvinar. Integer consectetur ipsum in erat pulvinar, sit amet vehicula leo pharetra. Mauris molestie odio eget enim elementum eleifend. Vestibulum ac vestibulum velit. Etiam congue enim quis porttitor congue. Quisque nisl ligula, interdum et tincidunt eget, molestie vel mauris. Ut tristique auctor justo quis porttitor. Nam id eros sit amet enim dignissim feugiat nec ac sem. Maecenas at urna volutpat, tempus mi vitae, elementum ipsum. Nulla maximus ex molestie condimentum volutpat.</p>
                            </div>
                            <div data-padding="smtop" class="list-element--number">
                                <ul>
                                    <li>Checklist item</li>
                                    <li>Checklist item</li>
                                    <li>Checklist item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Text  -->
        </div>
        <!--  END Page Content  -->
{% endblock %}}